#header {
  background-color: lightgreen;
  padding-top: 2%;
  padding-bottom: 2%;
  color: white;
}

h1 {
  text-align: center;
}

body {
  width: 1200px;
  margin: auto;
}

#menu {
  float: left;
  width: 260px;
  background-color: yellow;
}

#about {
  float: right;
  width: 260px;
  background-color: lightblue;
  padding: 2%;
}

#main {
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  padding-right: 4%;
}
